workflows/Telegram AI Chatbot.json
{
  "name": "Telegram AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e7c2628e-5a4c-4707-a7cc-bce68ec54e3f",
      "name": "Telegram Trigger",
      "webhookId": "8084358d-3592-4a11-872c-dfb901a18862",
      "credentials": {
        "telegramApi": {
          "id": "X7pg0MU7oawVqowA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        256,
        0
      ],
      "id": "680708d3-9d6c-4824-9dbe-2ace3fa64e3c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "openai/gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        432,
        160
      ],
      "id": "6ab78e6f-a0dc-4eaa-b83f-40018f5037e4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MIOX1BRwHskHodWd",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        0
      ],
      "id": "b732ef04-3383-4aac-b293-555a6780ac9f",
      "name": "Send a text message",
      "webhookId": "5c1e3740-5c78-4018-bd68-72f81d4d92cb",
      "credentials": {
        "telegramApi": {
          "id": "X7pg0MU7oawVqowA",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aafbf694-1180-475a-b257-2cd21d8d46de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b1b14226d2f8c392f9bd7b21bdb450e59bf1ce2c434a4da84efcbd6fae9204c"
  },
  "id": "kFApTAL5jL5S4zEc",
  "tags": []
}